<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Add New Recipe</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-xs-12">
        <div class="list-group pe-2">
            <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="list-group-item-heading mb-1">{{ recipe.name }}</h5>
                        <p class="list-group-item-text fs-6">{{ recipe.description }}</p>
                    </div>
                    <span>
                        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 72px;"/>
                    </span>
                </div>
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
